# ==========================================================
# Python
# ==========================================================

__pycache__/
*.pyc
*.pyo
*.pyd

# ==========================================================
# Virtual Environment
# ==========================================================

raj/
venv/
.venv/

# ==========================================================
# Environment Variables
# ==========================================================

.env

# ==========================================================
# Logs
# ==========================================================

logs/
*.log

# ==========================================================
# Reports
# ==========================================================

reports/

# ==========================================================
# VS Code
# ==========================================================

.vscode/

# ==========================================================
# Pytest
# ==========================================================

.pytest_cache/

# ==========================================================
# OS Files
# ==========================================================

Thumbs.db
.DS_Store